{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <h1>Add Venue to DataBase</h1>
    <br/><br/>
    {% if submitted %}
    Your veunue was submitted
    {% else %}
    <form action="" method=POST>
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
    {% endif %}
    {% else %}
    <h1>Sorry, please login</h1>
    <a href="{% url 'login' %}">Login here</a>
    {% endif %}
</div>
{% endblock %}