{% extends 'base.html' %}
{% block title %}

{% endblock %}
{% block content %}
<div class="container">
<h1>My venues</h1>
<table class="table table-striped table-hover table-boarded">
{% for venue in venues %}
     <tr>
        <td>
            <a href="{% url 'show-venue' venue.id %}">{{ venue }}</a>
        </td>
        {% if user.is_authenticated %}
        <td align="right">
            <a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
        </td>
        <td align="right">
            <a href="{% url 'delete-venue' venue.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
        </td>
        {% else %}

    {% endif %}
    </tr>
{% endfor %}
    </table>

</div>
{% endblock %}